<div class="filters">
<mat-form-field>
    <mat-label>Sort</mat-label>
    <mat-select
    panelClass="sort-select"
    [(ngModel)]="sort"
    >
    <mat-option value="name">Name</mat-option>
    <mat-option value="-released">Released</mat-option>
    <mat-option value="-added">Added</mat-option>
    <mat-option value="-created">Created</mat-option>
    <mat-option value="-updated">Updated</mat-option>
    <mat-option value="-rating">Rating</mat-option>
    <mat-option value="-metacritic">Metacritic</mat-option>
    </mat-select>
</mat-form-field>
</div>

<div class="games">
    <div class="game">
    <div class="game-thumb-container">
        <img src="https://images.igdb.com/igdb/image/upload/t_cover_big/co1qjb.jpg" class="game-thumbnail"
        />
        </div>
        <div class="game-description">
            <p class="game-name">Name</p>
            <div class="game-platforms">
            <img class="game-platform" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/PlayStation_App_Icon.jpg/800px-PlayStation_App_Icon.jpg" alt="slug" 
            />
            </div>
         </div>
    </div>
</div>